<h1>Вход</h1>

<form action="post">
  <p>
    <input type="text" placeholder="username" name="User[username]" required>
  </p>
  <p>
    <input type="text" placeholder="login" name="User[login]" required>
  </p>
  <p>
    <input type="password" placeholder="pasword" name="User[password]" required>
  </p>
   <button type="submit">Ok</button>
</form>