<h1>Вход</h1>

<form action="post">
  <p>
    <input type="text" placeholder="login" name="User[login]">
    {% if user.errors.login %}
    <small style="color:red;">{{ user.errors.login }}</small>
    {% endif %}

  </p>
  <p>
    <input type="password" placeholder="pasword" name="User[password]">
  </p>
   <button type="submit">Ok</button>
</form>